<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kurs_Work_BD.Properties.Settings.KW_ConnectionString"
            connectionString="Data Source=DESKTOP-6LJM1LE\SQLEXPRESS;Initial Catalog=Kurs-WORK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kurs_Work_BD.Properties.Settings.TribunalConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\foxer\Documents\Tribunal.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kurs_Work_BD.Properties.Settings.TribunalConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\Tribunal.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kurs_Work_BD.Properties.Settings.TribunalConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\Tribunal.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
